spring:
  application:
    name: yumi
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    aws:
      region:
        static: ap-northeast-2
      credentials:
        access-key:
        secret-key:
      sqs:
        stock-queue:
          name:
          type:
          url:


